:root{
  --bg: rgba(11, 72, 91, 0.7);
  --fonte:#fff;
  --estilo-fonte: 'Gruppo', sans-serif;
  --corTexto: #efd80b;
  
}
body{
 
  margin: 0;
  padding: 0;
  position: relative;
  background:  url(/src/img/bg.jpg)no-repeat center / cover;
  font-family: var(--estilo-fonte);

}
.container{
 
  color: var(--fonte);
  

}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--fonte);
}
.container main{
  display: flex;
  justify-content:space-around;
  align-items: center;
 padding: 3rem;

 
}
